body {
  padding: 20px;
  
}

a {
  color: #00B7FF;
}
.navbar {
      margin-bottom: 0px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
      margin-bottom: 0;
    }
 
