body {
    font-family: "Microsoft JhengHei";
    background-color: #6E8F6E;
}

.container-fluid {
    width: 85%;
    margin-top: -70px;
}

#elife {
    background-color: #6E8F6E;
}

.logo img {
    width: 100%; 
    margin-top: 20px ;
    padding: 25px;
    text-align: center;  
    margin-bottom: -15px;
}

.btn {
    width: 100%;
    height: 75px;
    font-size: 45px;
    font-weight: bold ;
    border-radius: 20px;
    margin: 10px 5px 10px 3px;
    color:  #3F4B3B;
    text-align: center;
    background-color: #a8dba8;
    border: 1px solid #a8dba8;
}

.btn:hover {
    background-color: #88dba3;
    border: 1px solid #88dba3;
}

.btn: active {
    background-color: #88dba3;
    border: 1px solid #88dba3;
}

#member {
    /*background-color: #C5E99B;*/
    padding: 7px 30px 10px 68px;
    letter-spacing: 30px;
}

#supplier {
    /*background-color: #a8dba8;*/
    padding: 7px 30px 10px 65px;
    letter-spacing: 30px;
}

#third {
    /*background-color: #88dba3;*/
    padding: 7px 30px 10px 55px;
    letter-spacing: 15px;
}

/*iphone5*/
@media screen and (max-width:320px){

.btn {
    font-size: 40px;
    height: 65px;
    border-radius: 15px;
}

#member {
    padding: 5px 30px 10px 60px;
    letter-spacing: 25px;
}

#supplier {
    padding: 5px 30px 10px 60px;
    letter-spacing: 25px;
}

#third {
    padding: 5px 35px 10px 48px;
    letter-spacing: 15px;
}

}

/*ipad*/
@media screen and (min-width:768px) and (max-width:1024px) {

.logo img {
    margin-top: -5px ;
    padding: 120px;
    margin-bottom: -100px;
}

.btn {
    height: 110px;
    font-size: 65px;
    border-radius: 30px;
    margin: 20px 5px 20px 3px;
}

#member {
    padding: 10px 25px 10px 67px;
    letter-spacing: 35px;
}

#supplier {
    padding: 10px 25px 10px 67px;
    letter-spacing: 35px;
}

#third {
    padding: 10px 25px 10px 67px;
    letter-spacing: 25px;
}
 
}

@media screen and (min-width:1024px) {

.logo img {
    margin-top: 50px ;
    padding: 30px;
    margin-bottom: 0px;
}

.btn {
    height: 130px;
    font-size: 80px;
    border-radius: 40px;
    margin: 30px 5px 30px 3px;
}

#member {
    padding: 10px 30px 10px 60px;
    letter-spacing: 25px;
}

#supplier {
    padding: 10px 30px 10px 60px;
    letter-spacing: 25px;
}

#third {
    padding: 10px 30px 10px 60px;
    letter-spacing: 20px;
}
 
}