<!DOCTYPE html>
<html>

<head>
    <title>Elife</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/third/third_order.css">
</head>

<body>
    <% if(third) { %>
        <div class="navbar-header">
            <div class="navbar-brand pull-right">
                <img src="/images/logo.png" alt="Brand Image">
            </div>
            <div id="mySidenav" class="sidenav sidenav-hover">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br>
                <h3> &nbsp;&nbsp;&nbsp;&nbsp;<%= third.name %>, 您好!</h3>
                <a href="/third_order"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; 首頁</a>
                <form action="/supplier/logout" method="POST">
                    <a><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;<input id="logout" type="submit" value="登出"></a>
                </form>
            </div>
            <div id="main">
                <span style="font-size:30px;cursor:pointer;color:white" onclick="openNav()">&#9776;</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>訂單紀錄</h1>
                    <hr>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>買方 編號</th>
                                    <th>地區</th>
                                    <th>狀態</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(nameList) { %>
                                    <%  nameList.forEach(function(buy) {  %>
                                        <tr>
                                            <td>
                                                <%= buy.memberId %>
                                            </td>
                                            <td>
                                                <%= buy.member.city %>
                                            </td>
                                            <% if(buy.status==0){ %>
                                                <td id="status">尚未 接單</td>
                                                <% } if(buy.status==1){ %>
                                                    <td id="status">處理 中</td>
                                                    <% } %>
                                                        <td>
                                                            <a href="/third_order/<%= buy.memberId %>">
                                                                <button type="button" class="btn btn-lg btn-success"> 詳情
                                                                </button>
                                                            </a>
                                                        </td>
                                                        <% }) %>
                                                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
            </script>
</body>

</html>
