<!DOCTYPE html>
<html lang="en">
<head>
    <title>第三方登入</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/third/thirdlogin.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="logo">
                    <img src="/images/logo_big.png">
                </div>
                <div class="name">
                    <h1>第三方登入</h1>
                </div>                
                <form name="sentMessage" action="/thirdlogin" method="POST" id="contactForm" novalidate>
                       <%if ( locals.used ){%>
                          <li>
                                 <%= locals.used.show %>
                          </li>
                        <%}%>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="account">帳號:</label>
                            <input type="text" class="text" placeholder="請輸入帳號" id="account" name="account">
                        </div>
                    </div>
                    <div class="row control-group" id="password">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="password">密碼:</label>
                                <input type="password" class="text" placeholder="請輸入密碼" id="password" name="password">
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-default btn-lg">登入</button>
                        </div>
                    </div>
                </form>
                <div class="row control-group">
                    <div class="form-group col-xs-12">
                        <a href="/third">
                            <button class="btn btn-default btn-lg">尚未註冊
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>