<!DOCTYPE html>
<html>

<head>
    <title>首頁</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </script>
</head>

<body>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" id="elife">
                <br>
                <div class="logo">
                    <img src="/images/logo_big.png">
                </div>
                <div>
                    <a href="/login" class="btn btn-default btn-lg" role="button" id="member">買家</a>
                </div>
                <br>
                <div>
                    <a href="/supplierlogin" class="btn btn-default btn-lg" role="button" id="supplier">店家</a>
                </div>
                <br>
                <div>
                    <a href="/thirdlogin" class="btn btn-default btn-lg" role="button" id="third">第三方</a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>

</html>