<!DOCTYPE html>
<html>

<head>
    <title>首頁</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </script>
</head>

<body>
    <style>
    body {
        font-family: "Microsoft JhengHei";
        font-size: 48px;
    }
    
    .col-xs-8 {
        font-family: "Gabriola", serif;
        font-size: 200px;
        text-align: center;
        letter-spacing: 15px;
    }
    
    img {
        width: 100%;
    }
    
    .btn {
        width: 100%;
        height: 200px;
        font-size: 100px;
        padding: 30px;
        border-radius: 30px;
    }
    </style>
    <div class="container" style="width:85%">
        <br>
        <div class="row">
            <div class="col-xs-4"><img src="/images/logo.png"></div>
            <div class="col-xs-8">
                <p>Elife</p>
            </div>
        </div>
        <br>
        <div>
            <a href="/login" class="btn btn-default btn-lg" role="button" style="background-color:#95eb00">買家</a>
        </div>
        <br>
        <br>
        <div>
            <a href="/supplierlogin" class="btn btn-default btn-lg" role="button" style="background-color:#37dc94;">店家</a>
        </div>
        <br>
        <br>
        <div>
            <a href="/thirdlogin" class="btn btn-default btn-lg" role="button" style="background-color:#fdf028;">第三方</a>
        </div>
        <br>
        <br>
    </div>
</body>

</html>
