<!-- Set your background image for this header on the line below. -->
<!DOCTYPE html>
<html lang="zh">
<head>
  <title>第三方</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 <body>

  <style>
   body {
    font-family: "Microsoft JhengHei";
    
    font-size: 20px;
    }
  .col-xs-8{
      font-size: 60px;
      text-align: center;
      letter-spacing: 5px;　
     }
  img{
      width: 100%;
     }
  h2{
    font-size: 30px;
  }
  
  tr:nth-child(3n){
    background-color:red;
  }
  </style>
 <div class="container">
    <div class="row">
      <div class="col-xs-4"><img src="/images/logo.png"></div>
      <div class="col-xs-8"><p>第三方</p></div>
   </div>
<!-- Main Content -->

  <h2>訂單</h2>
                                                                                        
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>編號</th>
        <th>訂購人</th>
        <th>訂購時間</th>
        <th>金額</th>
        <th>狀態</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>阿羅</td>
        <td>3/1</td>
        <td>50</td>
        <td>已送</td>
        
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>2</td>
        <td>阿謝</td>
        <td>2/28</td>
        <td>100</td>
        <td>未送</td>
        
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>3</td>
        <td>阿牛</td>
        <td>3/1</td>
        <td>70</td>
        <td>已送</td>
        
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>4</td>
        <td>阿何</td>
        <td>2/27</td>
        <td>500</td>
        <td>已送</td>
        
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>5</td>
        <td>阿洪</td>
        <td>2/26</td>
        <td>400</td>
        <td>已送</td>
        
      </tr>
    </tbody>
  </table>
  </div>
</div>

</div>
  </body>
</html>
