<!DOCTYPE html>
<html lang="zh">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>政大水果店</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <!-- Bootstrap -->
  <link rel='stylesheet' href='/stylesheets/fruits_store.css' />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href="/purchase_list" button type="button" class="navbar-toggle">
       <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 購物車                    
     </button></a>
     <a class="navbar-brand" href="#myPage"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span></a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/fruits_store"><span class="glyphicon glyphicon-home"></span>首頁</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/fruits_store"><span class="glyphicon glyphicon-apple"></span>產品</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/fruits_store"><span class="glyphicon glyphicon-info-sign"></span>店家資訊</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="container-fluid">    
  <div class="row content">
    <div class="col-sm-12 text-center">
      <h1>新鮮有機大湖草莓</h1>
      <img class="img-thumbnail" src="http://www.wall001.com/photograph/fruit_strawberry/mxxx01/fruit_strawberry_wallpaper_Vol_014_SN156.JPG">
      <h3 style="color: #EE4035">$400 (300g/1盒)</h3>

      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle btn-lg" type="button" data-toggle="dropdown">數量
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>

          <a href="/purchase_list" button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 加入購物車</button></a>
        </div>

        <hr>
        <div class="text-left">
          <h2>產品描述</h2> 
          <h3>新鮮草莓薰红的季節，酸酸甜甜扣人心弦的好滋味不能錯過。
            一顆顆熟透的草莓，深红心形外觀，鲜嫩欲滴，這股紅色魅力，讓人欲罷不能</h3>
            <h2>產品認證</h2>
          </div> 
          <img class="img-thumbnail text-center" src="http://www.jia-yo.com.tw/themes/default/images/a4-b1.jpg"> 
          
        </div> 
      </div>
    </div>
  </body>
  </html>
