body {
    font-family: "Microsoft JhengHei", sans-serif;
}

.navbar-header {
    background-color: #6F916F;
    width: 100%;
}

.navbar-brand>img {
    width: 50%;
    float: right;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #cff09e;*/
    background-color: #a8dba8;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav h3 {
    color: #3a5134;
}


/* The navigation menu links */

.sidenav a {
    padding: 20px 8px 20px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #3a5134;
    display: block;
    transition: 0.3s
    /*margi-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*height: 25%;*/
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    padding: 20px 8px 20px 30px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    color: #ffffff;
    background-color: #6F916F;
}

.sidenav a:active {
    padding: 20px 8px 20px 30px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    color: #ffffff;
    background-color: #6F916F;
}

.sidenav a:active {
    padding: 20px 8px 20px 30px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    color: #ffffff;
    background-color: #6F916F;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    background-color: #cff09e;
    color: #3a5134;
}

.form-group-lg>label {
    font-size: 25px;
    color: #6F916F;
}

#logout {
    background-color: transparent;
    border: none;
    outline: none;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

th {
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width:320px) {

th {
    font-size: 13px;
}


}
