body {
    font-family: "Microsoft JhengHei";
    background-color: #6E8F6E;
    margin: auto;
}

.container {
    width: 85%;
    margin-top: -70px;
}

#elife {
    background-color: #6E8F6E;
}

.logo img {
    width: 100%;
    margin-top: 20px;
    padding: 70px;
    text-align: center;
}

.name {
    margin-top: -105px;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 3px;
}

label {
    font-size: 35px;
}

input {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin: 8px 0;
    font-size: 30px;
    box-sizing: border-box;
    border: 1px solid #88dba3;
    border-radius: 6px;
}

input:focus {
    outline: 3px solid #6F916F;
    border-radius: 6px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #E8F5E9 inset;
}

#password {
    margin-top: 0px;
}

.btn {
    width: 100%;
    height: 60px;
    font-size: 35px;
    padding: 10px;
    border-radius: 15px;
    background-color: #a8dba8;
    border: 1px solid #a8dba8;
}

.btn:focus {
    background-color: #88dba3;
    border: 1px solid #88dba3;
}

@media screen and (max-width:320px) {
    .container {
        width: 85%;
        margin-top: -60px;
    }
    .logo img {
        width: 100%;
        margin-top: 20px;
        padding: 55px;
        text-align: center;
    }
    .name {
        margin-top: -90px;
    }
    h1 {
        text-align: center;
        color: #ffffff;
        font-size: 35px;
    }
    label {
        font-size: 30px;
    }
    .btn {
        height: 55px;
        font-size: 30px;
        padding: 10px;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .logo img {
        width: 100%;
        margin-top: 20px;
        padding: 120px;
        text-align: center;
    }
    .name {
        margin-top: -180px;
    }
    h1 {
        text-align: center;
        color: #ffffff;
        font-size: 70px;
        letter-spacing: 15px;
    }
}

@media screen and (min-width:1024px) {
    .logo img {
        width: 100%;
        margin-top: 20px;
        padding: 80px;
        text-align: center;
    }
    .name {
        margin-top: -120px;
    }
    h1 {
        text-align: center;
        color: #ffffff;
        font-size: 60px;
        letter-spacing: 5px;
    }
}
